<div class="bngApp universal-abs-tcs-app">
  <link rel="stylesheet" type="text/css" href="/ui/modules/apps/UniversalAbsTcs/app.css" />
  <label class="universal-abs-tcs-option">
    <input type="checkbox" ng-model="absEnabled" ng-change="setAbsEnabled()" />
    <span>Universal ABS</span>
  </label>
  <label class="universal-abs-tcs-option">
    <input type="checkbox" ng-model="tcsEnabled" ng-change="setTcsEnabled()" />
    <span>Universal TCS</span>
  </label>
  <div class="universal-abs-tcs-option universal-abs-tcs-mode">
    <span>Mode</span>
    <label>
      <input type="radio" name="uatMode" value="performance" ng-model="mode" ng-change="setMode()" />
      <span>Performance</span>
    </label>
    <label>
      <input type="radio" name="uatMode" value="grip" ng-model="mode" ng-change="setMode()" />
      <span>Grip</span>
    </label>
  </div>
</div>
