.universal-abs-tcs-app {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.universal-abs-tcs-option {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.universal-abs-tcs-option input {
  margin: 0;
}
